
.inline-spinner {
    --bs-spinner-width: 1em;
    --bs-spinner-height: 1em;
    --bs-spinner-border-width: 3px;
}

.rating-container {
    display: inline-flex;
    align-items: center;
    align-self: start;
    padding: 5px 0;
}

.rating-container .rating-star {
    margin-right: 5px;
    transition: .2s;
}

.rating-container.editable:hover .rating-star {
    transform: scale(1.3);
    filter: drop-shadow(-0.3rem 0.3rem 0.3rem rgb(0, 0, 0, 0.4));
}

.rating-container.editable .rating-star:hover ~ .rating-star {
    transform: scale(1);
    filter: none;
}
