.technology-logo {
    width: 100px;
    height: 30px;
    margin-left: 1rem;
}

.technology-container {
    color: white !important;
}

a.technology-container {
    text-decoration: none;
}

a.technology-container:hover {
    text-decoration: underline;
}