
.movie-tile {
    height: 100%;
}

.movie-tile .poster-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    height: 100%;
}

.movie-tile .card-img {
    object-fit: cover;
    height: 30rem;
    align-self: center;
    --bs-border-radius: 1.5rem;
}