body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-1 {
    flex: 1 1 0;
}

.flex-0-1-content {
    flex: 0 1 content;
}

svg.hover-lift {
    transition: .3s;
}

svg.hover-lift:hover {
    filter: drop-shadow(0.5rem 0.5rem 5px rgb(0 0 0 / 0.4));
    transform: scale(1.3);
}