.err {
    color: #333;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10rem;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
}

.page-404 a {
    color: rgb(153, 153, 153);
    font-weight: bold;
}

.page-404 a:hover {
    color: rgb(153, 153, 153, 0.5);
}