.search-result-item {
    cursor: pointer;
    display: flex;
    align-items: stretch;
}

.search-result-item .card-img {
    flex-basis: 0;
    max-height: 100%;
    object-fit: cover;
}

.search-result-item .card-body {
    flex-basis: 0;
    flex-grow: 3;
}